@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic);

/* Image path fix? /*

{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<link href="{{ relative }}css/screen.css" rel="stylesheet" />

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  padding:10px 50px 0 0;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #232323;
	background-color: white;
	margin: 0;
	line-height: 1.8em;
	-webkit-font-smoothing: antialiased;
	
}

h1, h2, h3, h4, h5, h6 {
  color:#232323;
  margin:36px 0 10px;
}

p, ul, ol, table, dl {
  margin:0 0 22px;
}

h1, h2, h3 {
	font-family: 'Arvo', Monaco, serif;
  line-height:1.3;
	font-weight: normal;
}

h1,h2, h3 {
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;	
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4, h5, h6 {
	font-family: 'Arvo', Monaco, serif;
	font-weight: 700;
}

a {
  color:#75aadb;
  font-weight:200;
  text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

a small {
	font-size: 12px;
}

em {
	font-style: italic;
}

strong {
  font-weight:700;
}

ul li {
  list-style-position: inside;
  list-style: disc;
  padding-left: 25px;
}

ol li {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

dl, dt, dd, dl p {
	font-color: #444;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  border:0;
  background:#ccc;
  height:1px;
  margin:0 0 24px;
}

/* Images */

img {
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  padding: 5px;
  margin: 10px 0 32px 0;
  border: 1px solid #ccc;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  font-size: 20px;
  color: #0038a8;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    font-size: 27px;
    color: #0038a8;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    font-size: 20px;
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: black;
  }
  
  .site .meta a {
    color: black;
    text-decoration: none;
  }

  .site .meta a.extra:hover {
    color: #0038a8;
    text-decoration:none;
  }
  
  .site .author {
    color: #aaa;
    text-decoration:none;
  }
  
  .site .author a {
    color: #aaa;
    text-decoration:none;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }