/*****************************************************************************/
/* Common */

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
	background-color: white;
	font: 13.34px helvetica, arial, clean, sans-serif;
	*font-size: small;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #22a;
}

a:hover, a:visited:hover, a:hover span.new, a:visited:hover span.new {
  color: black;
}

a:visited {
  color: #848;
}

table {
  font-size: inherit;
  font: 100%;
}

.video {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

/*****************************************************************************/
/* Home */

.site #home ol,
ul.toc {
  margin-top: 1em;
  margin-left: 2em;
  list-style-type: decimal;
  margin-bottom: 2em;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/* Site */

img {
  max-width: 75%;
}

.site {
  text-align: justify;
  width: 75%;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 1em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site #home a.extra,
  .site #post a.extra,
  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .meta a {
    color: #aaa;
    text-decoration: none;
  }

  .site .meta a:hover,
  .site #home a.extra:hover,
  .site #post a.extra:hover,
  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

  .site dl dt {
    text-decoration: underline;
  }

  .site dl dt a,
  .site dl dt a:hover,
  .site dl dt a:visited:hover {
    text-decoration: inherit;
    color: inherit;
  }

  .site dl dd {
    margin: 1em 0;
    padding-left: 1.5em;
  }

/*****************************************************************************/
/* Posts */

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.25em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0.2em;
  }

    #post p code {
      font-size: 100%;
    }

    #post .nounderline dl dt {
      text-decoration: none;
      font-weight: bold;
    }

    #post dl dt code {
      background-color: white;
      border: none;
      text-decoration: none;
      font-size: 100%;
    }

    #post dl span.type {
      text-decoration: none;
      font-size: 100%;
      font-weight: normal;
      color: #444;
    }

    #post dl span.arg {
      text-decoration: none;
      font-size: 100%;
      font-weight: normal;
    }

    #post pre code {
      border: none;
    }

  #post .highlight {
    font-size: 95%;
  }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

#disqus_thread {
  font: 13.34px helvetica, arial, clean, sans-serif;
  margin-top: 2em;
  border-top: 2px solid #eee;
  padding-top: 2em;
}

.x {
  text-decoration: line-through;
}

span.new {
  color: #e99;
}

.last {
  margin-bottom: 1em;
}
