@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Cardo");

body {
  font-family: "Cardo", serif;
  max-width: 40em;
  font-size: 18px;
  margin: 1em auto;
  line-height: 1.3; 
}
p, a, div, li {
  font-size: 18px;
  line-height: 1.3; 
}

/* Generic Elements */
a, a:visited {
  color: DarkSlateGray;
  text-decoration: none; 
}
a:hover, a:visited:hover {
  color: #1c2f2f; 
}

ol {
  padding: 0;
  margin: 0; 
}

h1 {
  font-size: 1.3rem; 
}

h2 {
  font-size: 1.2rem; 
}

h3 {
  font-size: 18px; 
}

h1 a, h2 a {
  color: black; 
}

img {
  /* Don't allow images to overflow. */
  max-width: 100%; 
}

strong {
  font-weight: bold; 
}


.iconsolata {
  font-family: "Inconsolata", monospace;
}

.f3 {
  font-size: 1.4rem; 
}
.f5 {
  font-size: 1.2rem; 
}


/* Specific Elements */

header a#site-title, 
header a:visited#site-title {
  color: black;
}
header > a.active {
  color: #F00; 
}
.nav.active {
  color: red; 
}

#strains li:after {
  content: ' \00BB '; 
}
#strains li:last-child:after {
  content: ""; 
}
#strains li a {
  color: black; 
}


div.update-list .update-link {
  color: gray; 
}
div.update-list .update-date {
  color: lightgray; 
}

#time {
  color: gray;
}

.tag {
  background-color: #EEF;
}

.box {
  background-color: #FFFFCC;
  margin: .5em -2em;
}


div.update-list .update-link {
  color: gray; 
}
div.update-list .update-date {
  margin-left: -3em;
  color: lightgray; 
}

.people-list li:after {
  content: ", "; 
}
.people-list li:last-child:after {
  content: ""; 
}

#gallery-box img {
  max-width: 30%;
}

footer {
  border-top: 5px solid #eee;
}
