html *
{
    font-family: 'Inconsolata', monospace;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #2f4f4f;
    text-decoration: none;
    }

a:hover {
    color: red;
}
a.active {
    color: red;
}
article {
   margin-top: 1em;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 1.1rem;
    margin: 0.25rem 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
}

ul, ol {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: -1em;
    list-style-position: outside;
}

ul li {
    list-style-type: none;
    padding-bottom: .4em;
}

ol li {
    padding-bottom: .4em;
}

p {
    margin-top: 0em;
    font-size: 1em;
    font-family: "Cardo",serif;
}
.box {
    background-color: #ffc;
    margin: 2em 0;
    margin: .5em -2em;
    padding: 1em 2em;
}
.tag {
    font-size: .9rem;
    background-color: #EEF;
    padding: .1em .2em;
    border: 1px solid #d3d3d3;
    vertical-align: top;
}
.footnotes ol {
    margin-left: -1em;
}

.footnotes li {
    font-size: .75em;
    padding-bottom: 0em;
}

b,strong {
    font-weight: bold;
}