---
---

$font-stack: "Source Sans Pro", sans-serif
$huge: 1.5em
$large: 1.3em
$medium: 1.2em
$small: 1em

$blue: #1E4E9B
$darkblue: darken($blue, 10%)
$gray: #EEE

body 
  font-family: $font-stack
  max-width: 50em
  font-size: $medium

.title
  font-size: $huge

a, a:visited
  color: $blue
  text-decoration: none
  &:hover
    color: $darkblue

.tag
  font-size: $small
  background-color: $gray

