/* Global ------------------------------------------------------------------ */
/* Global ------------------------------------------------------------------ */
/* Global ------------------------------------------------------------------ */

* {
  margin: 0;
  padding: unset;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 1.25em helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #22a;
}

a:hover, a:visited:hover, a:hover span.new, a:visited:hover span.new {
  color: black;
}

a:visited {
  color: #848;
}

li {
  list-style-type: square;
}

table {
  font-size: inherit;
  font: 100%;
}

.video {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.indent {
  margin-left: 2em;
}

.indent p {
    margin-top: 0em;
}

#taglist {
  display: inline;
  list-style: none;
}

#taglist li {
  display: inline;
}

#taglist li:after {
  content: ", ";
}

/* this gets rid of the trailing comma */
#taglist li:last-child:after {
  content: "";

}

/* oxford comma for the last element, using for name lists */
#taglist li:nth-last-child(3) ~ li:nth-last-child(2):after {
  content: ", & ";
}

#sparkle {

  font-size: .6em;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: left;
}

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

#disqus_thread {
  font: 13.34px helvetica, arial, clean, sans-serif;
  margin-top: 2em;
  border-top: 2px solid #eee;
  padding-top: 2em;
}

.x {
  text-decoration: line-through;
}

span.new {
  color: #e99;
}

.last {
  margin-bottom: 1em;
}

/* Home ------------------------------------------------------------ */
/* Home ------------------------------------------------------------ */
/* Home ------------------------------------------------------------ */

.site #home ol,
ul.toc {
  margin-top: 1em;
  margin-left: 2em;
  list-style-type: decimal;
  margin-bottom: 2em;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/* Site ----------------------------------------------------------------- */
/* Site ----------------------------------------------------------------- */
/* Site ----------------------------------------------------------------- */

img {
  max-width: 75%;
}

.site {
  text-align: justify;
  width: 75%;
  margin: 1em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  margin-bottom: 1em;
  text-align: left;
}

.site .title a {
  color: #a00;
  text-decoration: none;
  font-size: 1.1em;
}

.site .title a:hover {
  color: black;
}

.site  li.extra,
.site .title a.extra {
  color: #aaa;
  text-decoration: none;
}

.site .meta a {
  color: #aaa;
  text-decoration: none;
}

  .site .meta a:hover,
  .site #home a.extra:hover,
  .site #post a.extra:hover,
  .site .title a.extra:hover {
    color: black;
  }

  .title a.extra-active {
      color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
    clear: both;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

  .site dl dt {
    text-decoration: underline;
  }

.site dl dt a,
.site dl dt a:hover,
.site dl dt a:visited:hover {
  text-decoration: inherit;
  color: inherit;
}

.site dl dd {
  margin: 1em 0;
  padding-left: 1.5em;
}


/* Posts ----------------------------------------------------*/
/* Posts ----------------------------------------------------*/
/* Posts ----------------------------------------------------*/

#post {

}

  /* standard */

  #post h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  /* randomize post images */
  /* to break up the grid a bit*/

  #post img {
    float:right;
    margin:1.5em;
    max-width: 22em;
    width: 100%;
    height: auto;
    position: relative;
  }

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1em;
    list-style-position: outside;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0.2em;
    font-weight: normal;
  }

    #post p code {
      font-size: 100%;
      border: none;
      background-color: white;
    }

    #post .nounderline dl dt {
      text-decoration: none;
      font-weight: bold;
    }

    #post dl dt code {
      background-color: white;
      border: none;
      text-decoration: none;
      font-size: 100%;
    }

    #post dl span.type {
      text-decoration: none;
      font-size: 100%;
      font-weight: normal;
      color: #444;
    }

    #post dl span.arg {
      text-decoration: none;
      font-size: 100%;
      font-weight: normal;
    }

    #post pre code {
      border: none;
    }

    #post .highlight {
      font-size: 95%;
    }

    #strain img {
        max-width: 15em;
        margin-top: .5em;
    }

    #strain.indent {
        margin-bottom: 1em;
    }

  .gallery-box {
   width: 15em;
   height: 14em;
   position: relative;
   float: left;
   overflow: hidden;
}

.gallery-image img {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   bottom: 10px;
   margin: auto;
   width: 100%;
   max-width: 15em;
   height: 100%;
   max-height: 15em;
}

/* Events 2 column setup */

.events p {
    margin-top: 0em;
}

.events li {
    margin-bottom:.5em;
}

#column1 {
    width:45%;
}

#column2 {
    float:right;
    width:52%;
}

#archive {
  text-align: center;
  text-transform: lowercase;
}


/* footnotes -------------------------------------------------- */
/* footnotes -------------------------------------------------- */
/* footnotes -------------------------------------------------- */

.footnotes li {
    list-style-type: decimal;
    font-size: small;
}

.footnote a {
    font-size: small;
}

.footnotes p {
    margin:0px;
}
