<header class="mb4">
    <h1 class="tr f3 ma0 normal">
      <span class="inconsolata">Group for Experimental Methods in Humanistic Research</span><br />
        at Columbia University
    </h1>

    <nav class="tl">
    {% assign sorted_pages = site.pages | sort:"name" %}
      <ul class="list ma0 pa0">
        {% for node in sorted_pages %}
          {% if node.title != null %}
            {% unless node.url contains 'archive' %} 
              <li class="fl">
                    <!-- this matches strings in the url to node title to highlight the active page -->
                    <a class="hover-red ttl pr2 nav 
                    {% if page.url contains node.title %} active
                    {% elsif page.path contains 'projects' and  node.title == 'projects' %} active
                    {% elsif page.url == '/' and node.title == 'projects' %} active
                    {% endif %}" 
                    href="{{ node.url }}">
                        {{ node.title }}
                    </a>
              </li>
            {% endunless %}
          {% endif %}
        {% endfor %}
      </ul>
        <!--<a class="hover-red ttl pr2 nav"
            href="https://knowledge-production.github.io/forge/">the-forge</a>-->
    </nav>
</header>
