@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Cardo');

$sans: "Source Sans Pro", sans-serif;
$serif: "Cardo", serif;
$mono: "Inconsolata", monospace;
$huge: 1.4rem;
$large: 1.3rem;
$medium: 1.2rem;
$small: 0.9rem;
$normal: 18px;

$link: DarkSlateGray;
$hoverlink: darken($link, 10%);
$activelink: #F00;
$tag: #EEF;
$box: #FFFFCC;

body {
  font-family: $serif;
  max-width: 40em;
  font-size: $normal;
  margin: 1em auto; 
  line-height: 1.3;
}
p, a, div, li {
  font-size: $normal;
  line-height: 1.3;
}

/* Generic Elements */

a, a:visited {
  color: $link;
  text-decoration: none;
  &:hover {
    color: $hoverlink;
  }
}

ol {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: $large;
}
h2 {
  font-size: $medium;
}
h3 {
  font-size: $normal;
}

h1, h2 {
  a {
    color: black;
  }
}
h1#event-title {
    margin-bottom: .3em;
}
img {
  /* Don't allow images to overflow. */
  max-width: 100%;
}
strong {
  font-weight: bold;
}
/* Specific Elements */ 

header {
  margin-bottom: 1em;
  a, a:visited {
    font-size: $huge;
    font-family: $mono;
    &#site-title {
      text-transform: none;
      color: black;
      font-size: $huge;
    }
  }
  & > a {
    font-family: $mono;
    text-transform: lowercase;
    font-size: $medium;
    &.active {
      color: $activelink;
    }
  }
}
.nav.active {
  color: red;
}
#strain, #feature {
  img {
    float: right;
    margin: 0 0 1.5em 1.5em;
    max-width: 40%;
    border: 2px solid #ddd;
  }
}
#strains {
  margin: 0;
  padding: 0;
  li {
    display: inline;
    &:after {
      content: ' \00BB ';
    }
    &:last-child:after {
      content: "";
    }
    a {
      font-family: $mono;
      color: black;
    }
  }
} 

div.update-list {
  margin-bottom: 0.5em;
  .update-link {
    color: gray;
  }
  .update-date {
    font-family: $mono;
    color: lightgray;
  }
}

.event .date {
    font-family: $mono;
}

#time {
  color: gray;
  margin-bottom: 1em;
}

.tag {
  font-family: $mono;
  font-size: $small;
  background-color: $tag;
  padding: 0.1em 0.2em;
  border: 1px solid lightgray;
  vertical-align: top;
}

.box {
  background-color: $box;
  margin: 2em 0;
  margin: .5em -2em;
  padding: 1em 2em;
}
div.update-list {
  margin-bottom: 0.5em;
  .update-link {
    color: gray;
  }
  .update-date {
    font-family: $mono;
    margin-left: -3em;
    color: lightgray;
  }
}

.people-list {
  li {
    display: inline;
    &:after {
      content: ", ";
    }
    &:last-child:after {
      content: "";
    }
  }
}

.event .date {
    font-family: $mono;
}

footer {
  font-family: $mono;
  border-top: 5px solid #eee;
}
