<!DOCTYPE html>

<html lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>xpmethod | Group for experimental methods in the humanities</title>
   <meta name="author" content="xpMethods" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/public/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/public/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="shortcut icon" href="/public/favicon.ico?v=1"/> 

   <!-- custom Modernizr build for font compatibility -->
   <script type='text/javascript' src='/public/js/modernizr-custom.js'></script>
</head>

<body>
    <main class="site">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </main>
</body>
</html>
