---
layout: default
---

<div id="post">
    <div class="events" id="column2">
        {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
        {{ content }}
    </div>

    <div class="events" id="column1">
        {% for post in site.categories[page.title] reversed %}
            <!-- hide past events -->
            {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
            {% if posttime > nowunix %}

                {% if post.title != null %}
                    <li><font face="monospace">{{ post.date | date_to_string }}
                    <b><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></b></font>
                    {% if post.type %}
                        <sup><code>{{ post.type }}</code></sup>
                    {% endif %}
                {% endif %}
            <div>{{ post.prompt }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="events" id="archive">
        <a href="{{site.url}}events-archive.html">Events archive</a>
    </div>
</div>
