---
layout: default
---

<section id="event-list">

        <h1>{{ page.title }}
        {% if page.type %}
	<span class="tag">{{ page.type }}</span>
        {% endif %}</h1>

        <div id="time">
        {% if page.hour %}
            {{ page.hour }},
        {% endif %}
        {{ page.date | date_to_string }}
        {% if page.location %}
            at  {{ page.location }}
        {% endif %}
        </div>

    <!--include participants-->
    {% if page.participants %}
        <div id="participants"><ul id="taglist">
            {% for participant in page.participants %}
                <li>{{ participant }}</li>
            {% endfor %}
        </ul>></div>
    {% endif %}

    <!-- include prompt --!>
    <div id="prompt">
    {% if page.prompt %}
        {{ page.prompt }}
    {% endif %}
    </div>

    {{ content }}

<!-- image gallery support -->
{% if page.images %}
    <div id="gallery-box">
    {% for image in page.images %}
        <a href="{{ site.url }}/public/images/{{ image }}">
        <img alt="" src="{{ site.url }}/public/images/{{ image }}"></a>
    {% endfor %}
    </div>
{% endif %}

</section>
