---
layout: default
---

<section id="events-list" class="fl w-100">
    <div class="events-preface">
        {{ content }}
    </div>

    <section>
        {% for post in site.categories['events'] %}
            {% if post.title != null %}
	    <span class="date f4">{{ post.date | date_to_string }} <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></span>
                {% if post.type %}
		<span class="tag">{{ post.type }}</span>
                {% endif %}
            {% endif %}
            <p class="mt1">{{ post.prompt }}</p>
            <br>
        {% endfor %}
    </section>
</section>
