---
layout: default
---

<article>

    <h2 class="mb2">{{ page.title }}</h2>

        <span class="gray">
            {% if page.type %}
                {{ page.type | upcase }} ※ 
            {% endif %}
        </span>

        {% if page.hour %}{{ page.hour }},{% endif %}
        {{ page.date | date_to_string }}
        {% if page.location %}at  {{ page.location }}{% endif %}

    <!--include participants-->
    {% if page.participants %}
        <ul class="ma0 people-list">
            {% for participant in page.participants %}
                <li class="di">{{ participant }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    {% if page.prompt %}
      <section>
        <p class="box pv3 ph4">
            {{ page.prompt }}
        </p>
      </section>
    {% endif %}

    {% if page.updates%}
        <section class="update-div">
            <h3>Updates</h3>
            {% for update in page.updates %}
                <div class="update-list mb2">
                    <span class="update-date inconsolata">{{ update.date | date: "%m/%y"  }}</span>
                    {{ update.text | markdownify | remove: '<p>' | remove: '</p>' }}
                </div>
            {% endfor %}
        </section>
    {% endif %}

    {{ content }}

<!-- image gallery support -->
{% if page.images %}
    <div id="gallery-box" class="ml-auto mr-auto relative overflow-hidden">
    {% for image in page.images %}
        <a href="{{ site.url }}/public/images/{{ image }}">
        <img alt="" src="{{ site.url }}/public/images/{{ image }}" class="mw5 ma2 fl"></a>
    {% endfor %}
    </div>
{% endif %}

</article>
