---
layout: default
---

{% for event in site.events %}
  <section class="mb4">
    {% if event.title != null %}

        <div class="w-100 code f5">
          <time datetime={{event.date}}>
            {{ event.date | date_to_string }}
          </time>

            {% if event.type %}
                <span class="gray"> ※ {{ event.type }}</span>
            {% endif %}
        </div>

        <h2 class="ma0 normal">
            <a href="{{ BASE_PATH }}{{ event.url }}">{{ event.title }}</a>
        </h2>


    {% endif %}

    <p class="mt0 ml3">{{ event.prompt }}</p>
  </section>
{% endfor %}
