---
layout: default
---

<section id="event-list">

    <h1 id="event-title">{{ page.title }}
        {% if page.type %}
            <span class="tag">{{ page.type }}</span>
        {% endif %}
    </h1>
    <div id="time">
        {% if page.hour %}{{ page.hour }},{% endif %}
        {{ page.date | date_to_string }}
        {% if page.location %}at  {{ page.location }}{% endif %}
    </div>

    <!--include participants-->
    {% if page.participants %}
        <div id="participants"><ul class="people-list">
            {% for participant in page.participants %}
                <li>{{ participant }}</li>
            {% endfor %}
        </ul></div>
    {% endif %}

    
    <div class="box">
    {% if page.prompt %}{{ page.prompt }}{% endif %}
    </div>

    {% if page.updates%}
        <div class="update-div">
            <h3>Updates</h3>
            {% for update in page.updates %}
                <div class="update-list mb2">
                    <span class="update-date">{{ update.date | date: "%m/%y"  }}</span>
                    {{ update.text | markdownify | remove: '<p>' | remove: '</p>' }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {{ content }}

<!-- image gallery support -->
{% if page.images %}
    <div id="gallery-box">
    {% for image in page.images %}
        <a href="{{ site.url }}/public/images/{{ image }}">
        <img alt="" src="{{ site.url }}/public/images/{{ image }}"></a>
    {% endfor %}
    </div>
{% endif %}

</section>
