---
layout: default
---

<div class="issue-nav">
    <code>
        <a href="#publications">Publications</a>  |  <a href="#grants">Grants</a> | <a
        href="#placements">Placements</a> | <a href="#press">Press & Awards</a>
    </code>
</div>

<div id="update-div">
{% for post in site.posts %}
    {% for update in post.updates %}
    <li id="update-list">
    
        <div id="update-date">{{ update.date }}</div>
        <sup><a id="update-link" href="{{ post.url }}">
                {{ post.title | downcase }}</a></sup>
        <div id="update-text">
            {{ update.text | markdownify | remove: '<p>' | remove: '</p>' }}
        </div>
    </li>
    {% endfor %}
{% endfor %}

</div>

<h3><a name="publications"></a>Publications</h3>

<h3><a name="grants"></a>Grants</h3>

<h3><a name="press"></a>Press & Awards</h3>

<h3><a name="placements"></a>Placements</h3>
