---
layout: default
---

<div class="nav secondary" id="publications">
    <a href="#publications" class="nav active">publications</a> |
    <a href="#grants">grants-and-awards</a> |
    <a href="#press">press</a> |
    <a href="#jobs">placements</a>
    <hr>
</div>

<div class="update-div">
    {% for post in site.posts %}
        {% for update in post.updates %}
            {% if update.type contains 'publication' or update.type contains 'paper' %}
            <div class="update-list">
                <div class="update-date">{{ update.date }}
                <a class="update-link" href="{{ post.url }}">
                    {{ post.title | downcase }}</a>
                </div>
                {{ update.text | markdownify | remove: '<p>' | remove: '</p>' }}
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>

<div class="nav secondary" id="grants">
    <a href="#publications">publications</a> |
    <a href="#grants" class="nav active">grants-and-awards</a> |
    <a href="#press">press</a> |
    <a href="#jobs">placements</a>
    <hr>
</div>

<div class="update-div">
    {% for post in site.posts %}
        {% for update in post.updates %}
            {% if update.type contains 'grant' or update.type contains 'award' %}
            <div class="update-list">
                <div class="update-date">
                    {{ update.date }}
                    <a class="update-link" href="{{ post.url }}">
                        {{ post.title | downcase }}
                    </a>
                </div>
                {{ update.text | markdownify | remove: '<p>' | remove: '</p>' }}
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>

<div class="nav secondary" id="press">
    <a href="#publications">publications</a> |
    <a href="#grants">grants-and-awards</a> |
    <a href="#press" class="nav active">press</a> |
    <a href="#jobs">placements</a>
    <hr>
</div>

<div class="update-div">
    {% for post in site.posts %}
        {% for update in post.updates %}
            {% if update.type contains 'talk' or update.type contains 'press' %}
            <div class="update-list">
                <div class="update-date">
                    {{ update.date }}
                    <a class="update-link" href="{{ post.url }}">
                        {{ post.title | downcase }}
                    </a>
                </div>
                {{ update.text | markdownify | remove: '<p>' | remove: '</p>' }}
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>

<div class="nav secondary" id="jobs">
    <a href="#publications">publications</a> |
    <a href="#grants">grants-and-awards</a> |
    <a href="#press">press</a> |
    <a href="#jobs" class="nav active">placements</a>
    <hr>
</div>

<div class="update-div">
    {% for job in site.data.jobs %}
        <div class="update-list">
            <div class="update-date">
                {{ job.date }}
                <a class="update-link" href="{{ post.url }}">
                    Experimental Methods Group
                </a>
            </div>
            <div class="update-text"> 
                {{ job.text | markdownify | remove: '<p>' | remove: '</p>' }}
            </div>
        </div>
    {% endfor %}
</div>
