---
layout: default
---

<div class="issue-nav">
    <code>
        <a href="#publications">Publications</a> | 
        <a href="#grants">Grants & Awards</a> | 
        <a href="#press">Public Engagement</a> | 
        <a href="#jobs">Jobs</a>
    </code>
</div>


<h3><a name="publications"></a>Publications</h3>

<div id="update-div">

{% for post in site.posts %}
    {% for update in post.updates %}
    {% if update.type contains 'publication' or update.type contains 'paper' %}
    <li id="update-list">
        <div id="update-date">{{ update.date }}</div>
        <sup><a id="update-link" href="{{ post.url }}">
                {{ post.title | downcase }}</a></sup>
        <div id="update-text">
            {{ update.text | markdownify | remove: '<p>' | remove: '</p>' }}
        </div>
    </li>
    {% endif %}
    {% endfor %}
{% endfor %}
</div>
<h3><a name="grants"></a>Grants & Awards</h3>

<div id="update-div">

{% for post in site.posts %}
    {% for update in post.updates %}
    {% if update.type contains 'grant' or update.type contains 'award' %}
    <li id="update-list">
        <div id="update-date">{{ update.date }}</div>
        <sup><a id="update-link" href="{{ post.url }}">
                {{ post.title | downcase }}</a></sup>
        <div id="update-text">
            {{ update.text | markdownify }}
        </div>
    </li>
    {% endif %}
    {% endfor %}
{% endfor %}
</div>
<h3><a name="press"></a>Public Engagement</h3>

<div id="update-div">

{% for post in site.posts %}
    {% for update in post.updates %}
    {% if update.type contains 'press' or update.type contains 'talk' %}
    <li id="update-list">
        <div id="update-date">{{ update.date }}</div>
        <sup><a id="update-link" href="{{ post.url }}">
                {{ post.title | downcase }}</a></sup>
        <div id="update-text">
            {{ update.text | markdownify | remove: '<p>' | remove: '</p>' }}
        </div>
    </li>
    {% endif %}
    {% endfor %}
{% endfor %}
</div>

<h3><a name="jobs"></a>Jobs</h3>
<div id="update-div">

{% for job in site.data.jobs %}
    <li id="update-list">
        <div id="update-date">{{ job.date }}</div>
        <div id="update-text">
            {{ job.text | markdownify | }}
        </div>
    </li>
{% endfor %}
</div>
