---
layout: default
---

{{ content }}

<h2>Contributors</h2>
<!-- people are tags, it was the fastest way to avoid duplicate names when iterating-->

<p>
    <ul id="taglist">
        {% for tag in site.tags %}
        	
            {% if tag[0].name %}
            <li><a href="{{ tag[0].url }}">{{ tag[0].name }}</a></li>
            {% else %}
            <li>{{ tag[0] }}</li>
        {% endif %}
        {% endfor %}
    </ul>
<p>

<!-- want faculty advisers to happen after contributors -->
<!-- want fancy footnotes on faculy links -->
<!-- filters are the only way to get markdown to render -->
<p>
{% capture my-include %}{% include mods.md %}{% endcapture %}
{{ my include | markdownify }}
</p>
