---
layout: default
---

{{ content }}

<h2>Contributors</h2>
<!-- people are tags, it was the fastest way to avoid duplicate names when iterating-->

<ul class="people-list">
        {% for tag in site.tags %}
            {% if tag[0].url %}
                <li><a href="{{ tag[0].url }}">{{ tag[0].name }}</a></li>
            {% else %}
                <li>{{ tag[0] }}</li>
        {% endif %}
        {% endfor %}
</ul>

<h2>Faculty Moderators</h2>

<ul class="people-list">
	{% for mod in site.data.mods %}
	<li><a href="{{ mod.url }}">{{ mod.name }}</a></li>
	{% endfor %}
</ul>
