---
layout: default
---

<div id="post">
    <h2>&raquo; {{ page.title }}
    {% if page.type %}
        <sup><code>{{ page.type }}</code></sup>
    {% endif %}</h2>

    <!-- remember tags are people -->
    <sup>
    {% if page.tags %}
        <ul id="taglist">
        {% for person in page.tags %}
            <li>{% if person.name %}<a href="{{ person.url }}">{{ person.name }}</a>{% else %}{{ person }}{% endif %}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </sup>

    <!-- grab image from yaml if there is one -->
        {% if page.image %}
            <div id="feature">
                <figure>
                    <a href="/public/images/{{ page.image }}">
                    <img src="/public/images/{{ page.image }}">
                    </a>
                    {% if page.caption %}
                        <figcaption>{{ page.caption }}</figcaption>
                    {% endif %}
                </figure>
            </div>
        {% endif %}

    <!-- include sparkle if we have one -->
        {% if page.sparkle %}
            <div id="sparkle">{% include {{ page.sparkle }} %}</div>
        {% endif %}

    <!-- include prompt --!>
    {% if page.prompt %}
    <div id="prompt">
        {{ page.prompt }}
    </div>
    {% endif %}

    <!-- include updates if we have them--!>

    {% if page.updates%}
    <div id="update">
        <h3>Updates</h3>
        {% for update in page.updates %}
            <li>
            <div id="update-date">{{ update.date }}</div>
            <div id="update-text">{{ update.text | markdownify }}</div>
            </li>
        {% endfor %}
    </div>
    {% endif %}

    {{ content }}

    <!-- image gallery support -->
        {% if page.images %}
            <div id='gallery-box'>
        {% for image in page.images %}
                <div id='gallery-image'>
                    <a href="{{ site.url }}/public/images/{{ image }}"><img src="{{ site.url }}/public/images/{{ image }}"></a>
                </div>
        {% endfor %}
            </div>
        {% endif %}

</div>
