---
layout: vanilla
url: research/
---

<div class="categories">
    {{ content }}
    
    {% for post in site.categories[page.title] %}

        {% if post.title != null %}
            <div class="dib b">
                <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
            </div>
            <div class="dib ml3 f6 lh-copy Courier fr">
                ↓ select projects ※
                <a class="f6" "href="{{ BASE_PATH }}{{ post.url }}">
                    view all →
                </a>
            </div>

            <div class="ml3 f5 lh-copy">
            </div>
        {% endif %}

        <!-- list all projects as a strain in subscript -->
        <div id="strains" class="ma0 pa0">
            {% assign projects = site.categories[post.title] | sample: 5 %}
            {% for post in projects %}
                <li class="di"><a href="{{ post.url }}" class="iconsolata">{{ post.title }}</a></li>
            {% endfor %}
        </div>

        <div>
            {{ post.content | truncatewords:275 }}
        </div>

        <!-- <a href="{{ post.url }}">Read more</a> -->
        <!-- hack to prevent unclosed lists in the snippet -->
        </ul></ol>

    {% endfor %}
</div>
