---
layout: default
---

    {% for cluster in site.clusters reversed %}
    <div class = "mb3">
        <a href="{{ BASE_PATH }}{{ cluster.url }}">
            <h2 class="dib b">{{ cluster.title }}</h2>
            <span class="dib f6 lh-copy Courier f6 " >※  view portfolio →</span>
        </a>
        <div class = "ml2">
            {{ cluster.content }} A random sample of the projects from this collective includes:
            <ul class = "sentence-list di pa0 ma0">
                {% assign projects = site[cluster.title] | sample: 5 %}
                {% for post in projects %}
                    <li class = "di pa0 ma0"><a href="{{ post.url }}" class="inconsolata">{{ post.title | strip }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% endfor %}
