---
layout: default
---

<div id="post">
    {{ content }}

    <!--Show all people--!>
    <h2 class="encounter">People</h2>
    {% for post in site.categories[page.title] %}
        {% for person in post.people %}
           <code>{{ person }}</code>
        {% endfor %}
        <!-- <code>{{ post.people }}</code> -->
    {% endfor %}

    <!-- Show all projects--!>
    <br><br><h2 class="encounter">Projects</h2>
        {% for post in site.categories[page.title] %}
            <h3>&raquo; <a href="{{ post.url }}">{{ post.title }}</a></h3>
            <div class='indent'>
                <!-- strip html to get rid of images in the list view -->
                {{ post.content | strip_html | truncatewords:75 }}
            </div>
        {% endfor %}
    <!-- Show all updates, encounters, etc do this with tags -->
    <!-- <h2 class="encounter">Updates</h2> -->
</div>

<!--
<div id="related">
    <h2>Related Articles</h2>
        <ul class="posts">
        {% for post in site.related_posts limit:3 %}
            <li><span>{{ post.date | date_to_string }}</span> 
            &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
-->
