---
layout: default
---

{{ content }}

{% for post in site.categories[page.title] %}
<div class="">
    <div class="flex">
        <div class="b">
            &raquo; <a href="{{ post.url }}">{{ post.title}}</a>
        </div>

        <!-- What kind of activity is this? Project, talk, blog post? -->
        {% if post.type %}
            <div class="fl inconsolata tag f5 ba ml2 b--moon-gray v-top tag">
                {{ post.type}}
            </div>
        {% endif %}
    </div>

    <!-- first test if tags is not nill -->
    <!-- if post.tags is not working -->
    <!-- this tests for the first member in the list -->
    {% if post.tags[0] %}
        <div class="">
            <ul class="ma0 pl2 people-list">
                {% for person in post.tags %}
                    <li class="di bodoni i f5 ma0">{{ person }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- events are different since we are pulling the prompt -->
    <!-- instead of post.content -->
    {% unless post.categories contains "event" %}
        <div>
            {% if post.image %}
            <a href="{{ post.url }}">
                <img alt="" src="/public/images/{{ post.image }}" class="mw5 fr mb4 ml4 b--solid-ns bw1 b--black-20">
            </a>
            {% endif %}

            <!-- if we have sparks, show that -->
            {% if post.sparkle %}
                <div id="sparkle">{% include {{ post.sparkle }} %}</div>
            {% endif %}

            <!-- if post does not list snippet length in the yaml, use default -->
            {% unless post.snippet %}
                {{ post.content | markdownify | truncatewords:125 }}
            {% endunless %}

            <!-- if post lists snippet length in the yaml, use that -->
            {% if post.snippet %}
                {{ post.content | markdownify | truncatewords:post.snippet }}
            {% endif %}

        <!-- hacky, but lets close all interrupted tags from previous post in the
        loop -->
        </strong>
        </div>
    {% endunless %}
</div>
{% endfor %}
