---
layout: default
---

<section id="strain">

{{ content }}

<!-- Show all projects--!>
<!-- hide activity if empty -->
{% if site.categories[page.title] %}
    <h2>Activity</h2>
{% endif %}

{% for post in site.categories[page.title] %}
<div id="strain">
    <h3 id="strain">&raquo; <a href="{{ post.url }}">{{ post.title }}</a>

    <!-- What kind of activity is this? Project, talk, blog post? -->
    {% if post.type %}
        <span class="tag">{{ post.type }}</span>
    {% endif %}
    </h3>

    <!-- first test if tags is not nill -->
    <!-- if post.tags is not working -->
    <!-- this tests for the first member in the list -->
    {% if post.tags[0] %}
    <ul class="people-list">
	{% for person in post.tags %}
	    {% if person.url and person.name %}
		<li><a href="{{ person.url }}">{{ person.name }}</a></li>
	    {% else %}
		<li>{{ person }}</li>
	    {% endif %}
	{% endfor %}
    </ul>
    {% endif %}

    <!-- events are different since we are pulling the prompt -->
    <!-- instead of post.content -->
    {% unless post.categories contains "event" %}
        <div class="strain-text">
            <!-- move this out into css -->
            {% if post.image %}
            <a href="{{ post.url }}">
                <img alt="" src="/public/images/{{ post.image }}" class="mw-100 fr mb4 ml4 b--solid-ns bw1 b--black-20">
            </a>
            {% endif %}

            <!-- if we have sparks, show that -->
            {% if post.sparkle %}
                <div id="sparkle">{% include {{ post.sparkle }} %}</div>
            {% endif %}

            <!-- if post does not list snippet length in the yaml, use default -->
            {% unless post.snippet %}
                {{ post.content | markdownify | truncatewords:125 }}
            {% endunless %}

            <!-- if post lists snippet length in the yaml, use that -->
            {% if post.snippet %}
                {{ post.content | markdownify | truncatewords:post.snippet }}
            {% endif %}

        <!-- hacky, but lets close all interrupted tags from previous post in the
        loop -->
        </strong>
        </div>
    {% endunless %}
</div>
{% endfor %}
</section>
